.logoContainer {
  position: fixed; /* Ensure it stays relative to the viewport */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center horizontally and vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.shimmer {
  animation: shimmer 2s infinite; /* Shimmering effect */
}

@keyframes shimmer {
  0% {
    opacity: 1;
    filter: brightness(1);
  }
  50% {
    opacity: 0.8;
    filter: brightness(1.5);
  }
  100% {
    opacity: 1;
    filter: brightness(1);
  }
}