@keyframes spinFastThenSlow {
  0% {
    transform: rotateY(0deg);
  }
  30% {
    transform: rotateY(360deg); /* หมุนเร็วรอบแรก (1 รอบ) */
  }
  60% {
    transform: rotateY(720deg); /* หมุนเร็วรอบที่สอง (2 รอบ) */
  }
  100% {
    transform: rotateY(1080deg); /* หมุนช้ากว่า (รอบที่ 3) */
  }
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logoContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loadingText {
  margin-top: 10px;
  font-size: 14px;
  font-family: 'Prompt, sans-serif';
  color: #666;
}
